* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d8d8;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.container-pokedex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 2px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.pokemon-container > img {
  width: 50%;
}
